<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.jy.vote.mapper.OptionMapping">
	<select id="getSbOpsById" parameterType="int" resultType="VoteOption"> 
		select vo.*,
		(select count(1) from VoteItem where voId=vo.voId ) voteUserCount,
		(select count(1) from VoteItem vi,VoteSubject vs where vi.vsId=vs.vsId and vi.vsId=#{vsId}) totalVote
		from VOTEOPTION vo
		where vo.vsid = #{vsId}
		order by voteUserCount desc,voOrder asc
	</select>
	
	<select id="checkSoInfo" parameterType="int" resultType="VoteOption">
		select vo.voId,voOption,vsType,voIntro
		from VOTEOPTION vo, VoteSubject vs
		where vs.vsid = #{vsId} and vo.vsId=vs.vsId order by voOrder 
	</select>
	
	<insert id="addOptions">
		insert into VoteOption (voId, voOption, vsId, voOrder,voIntro,voUrl,voPic)
		values (seq_voption.nextval, #{ops},#{vsId},#{i}
		<choose>
			<when test="voIntro != null and voIntro !=''">
				,#{voIntro}
			</when>
			<otherwise>
				,null
			</otherwise>
		</choose>
		<choose>
			<when test="voUrl != null and voUrl !=''">
				,#{voUrl}
			</when>
			<otherwise>
				,null
			</otherwise>
		</choose>
		<choose>
			<when test="picName != null and picName !=''">
				,#{picName}
			</when>
			<otherwise>
				,null
			</otherwise>
		</choose>
		)
	</insert>
	
	<select id="analyzeSubject" parameterType="int" resultType="VoteOption"> 
		select vo.*,
		(select count(1) from VoteItem where voId=vo.voId ) voteUserCount,
		(select count(1) from VoteItem vi,VoteSubject vs where vi.vsId=#{vsId} and vi.vsId=vs.vsId ) totalVote,
		(select count(1) from VoteItem vi,voteuser vu where vi.vuId=vu.vuId and vi.vsId=vo.vsId and voId=vo.voId and vuSex='male') voteMaleSex,
		(select count(1) from VoteItem vi,voteuser vu where vi.vuId=vu.vuId and vi.vsId=vo.vsId and voId=vo.voId and vuSex='female') voteFemaleSex
		from VOTEOPTION vo
		where vo.vsid = #{vsId}
		order by voteUserCount desc,voOrder asc
	</select>
	
	<select id="getHotData" parameterType="int" resultType="AnalyzeData"> 
		select nn.* from 
		(
		select rownum rn,a.* from
		(select vo.vooption,
		(select count(1) from VoteItem where voId=vo.voId ) voteUserCount,
		(select count(1) from VoteItem vi,VoteSubject vs where vi.vsId=#{1} and vi.vsId=vs.vsId) totalVote,
		(select count(1) from VoteItem vi,voteuser vu where vi.vuId=vu.vuId and vi.vsId=vo.vsId and voId=vo.voId and vuSex='male') voteMaleSex,
		(select count(1) from VoteItem vi,voteuser vu where vi.vuId=vu.vuId and vi.vsId=vo.vsId and voId=vo.voId and vuSex='female') voteFemaleSex
		from VOTEOPTION vo
		where vo.vsid = #{1}
		order by voteUserCount desc,voorder asc) a
		where #{0}>=rownum ) nn
		where rn>0
	</select>
	
	<select id="getHotFdata" parameterType="int" resultType="AnalyzeData"> 
		select nn.* from 
		(
		select rownum rn,a.* from
		(select vo.vooption,
		(select count(1) from VoteItem where voId=vo.voId ) voteUserCount,
		(select count(1) from VoteItem vi,VoteSubject vs where vi.vsId=#{1} and vi.vsId=vs.vsId) totalVote,
		(select count(1) from VoteItem vi,voteuser vu where vi.vuId=vu.vuId and vi.vsId=vo.vsId and voId=vo.voId and vuSex='male') voteMaleSex,
		(select count(1) from VoteItem vi,voteuser vu where vi.vuId=vu.vuId and vi.vsId=vo.vsId and voId=vo.voId and vuSex='female') voteFemaleSex
		from VOTEOPTION vo
		where vo.vsid = #{1}
		order by voteMaleSex desc,voteUserCount desc,voorder asc ) a
		where #{0}>=rownum ) nn
		where rn>0
	</select>
	
	<select id="getHotMdata" parameterType="int" resultType="AnalyzeData"> 
		select nn.* from 
		(
		select rownum rn,a.* from
		(select vo.vooption,
		(select count(1) from VoteItem where voId=vo.voId ) voteUserCount,
		(select count(1) from VoteItem vi,VoteSubject vs where vi.vsId=#{1} and vi.vsId=vs.vsId) totalVote,
		(select count(1) from VoteItem vi,voteuser vu where vi.vuId=vu.vuId and vi.vsId=vo.vsId and voId=vo.voId and vuSex='male') voteMaleSex,
		(select count(1) from VoteItem vi,voteuser vu where vi.vuId=vu.vuId and vi.vsId=vo.vsId and voId=vo.voId and vuSex='female') voteFemaleSex
		from VOTEOPTION vo
		where vo.vsid = #{1}
		order by voteFemaleSex desc,voteUserCount desc,voorder asc) a
		where #{0}>=rownum ) nn
		where rn>0
	</select>
	
	<select id="seeDetails" parameterType="int" resultType="VoteOption"> 
		select voOption,voOrder,voIntro,voUrl,voPic from VoteOption where vsId=#{0} order by voOrder
	</select>
</mapper>